@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-left: 120px;
    padding-right: 120px;
}

.header-logo,
.header-links,
.hero-secondary-text {
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    list-style-type: none;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 120px;
    background-color: #1F2937;
    font-size: 18px;
    flex: 1;
    column-gap: 50px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    border: none;

}

.hero-image {
    background-color: grey;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
}

.random-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    min-width: 100px;
    min-height: 100px;
}

.random-info-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 220px;
    gap: 10px;
    text-align: center;
}

.square {
    flex: 1;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 200px;
    gap: 15px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-person {
    font-weight: 900;
    font-size: 20px;
    align-self: flex-end;
}

.call-to-action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.cat-inner-container {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px 100px;
    gap: 100px;
}

.cat-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cat-header {
    color: #F9FAF8;
    font-weight: 900;
}

.cat-content {
    color: #F9FAF8;
}

#cat-signup {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 5px;
    width: 100px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1F2937;
    color: #F9FAF8;
}


a {
    text-decoration: none;
    color: #E5E7EB;
}